/* Centralizar o título */
.centralizar-titulo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #eeeeee;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    margin: 50;
    padding: 90;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo do formulário */
form {
    background-color: #276125;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(156, 11, 11, 0.1);
    width: 100%;
    max-width: 600px;
}

/* Título */
form p {
    text-align: center                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
    font-size: 80px;
    margin-bottom: 60px;
    font-weight: bold;
    color: #b88484;
}

/* Estilos de cada campo */
div {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #f8eeee;
    display: block;
    margin-bottom: 5px;
}

/* Campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 0px solid #b8ccb2;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="text"]:focus {
    border-color: #a14114;
    background-color: #fff;
    outline: none;
}

/* Placeholder */
input::placeholder {
    color: #ca2a2a;
}

/* Botão de envio */
button {
    background-color: #701a17;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #229b3c;
}

/* Estilo para mensagens de erro ou sucesso */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.success {
    color: green;
    font-size: 12px;
    margin-top: 5px;
}
