* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
}

/* Header e título */
header {
    background-color: #1b8612;
    padding: 15px 20px;
    text-align: center;
}

header p {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

/* Menu */
.menu {
    background-color: #333;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: block;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #3a7ca5;
}

/* Main content */
.main-content {
    margin-left: 220px;
    padding: 30px;
}

#content {
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 400px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }
}

.menu {
    font-family: Arial, sans-serif;
    background-color: #333;
    width: 200px; /* Definindo largura para o menu */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu > ul > li {
    position: relative;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Submenu oculto inicialmente */
.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Coloca o submenu à direita do item */
    background-color: #444;
    min-width: 200px;
    border-radius: 4px;
}

.submenu li {
    padding: 10px;
}

.submenu li a {
    padding: 8px 12px;
}

/* Exibe o submenu quando passar o mouse sobre o item principal */
.menu > ul > li:hover > .submenu {
    display: block;
}

.menu > ul > li > a:hover {
    background-color: #555;
}

/* Estilo de hover para os itens do submenu */
.submenu li a:hover {
    background-color: #666;
}