body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101011d6;
    display: flex;
    height: 100vh;
}

/* Estilo do menu lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100%;
    position: fixed;
    transition: width 0.3s;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
}

/* Estilo do menu suspenso */
.menu-item {
    position: relative;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Submenu (ficará oculto até o hover) */
.submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #444;
    padding-left: 0;
    margin: 0;
    list-style: none;
    border-radius: 7px;
}

.submenu a {
    padding: 12px;
    color: white;
    text-align: left;
}

.submenu a:hover {
    background-color: #575757;
}

/* Mostrar submenu ao passar o mouse */
.menu-item:hover .submenu {
    display: block;
}

.main-content {
    margin-left: 200px; 
    height: 100vh; 
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

iframe {
    width: 100%;  
    height: 100%; 
    border: none;
}

.option-button {
    background-color: #28a745;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.option-button:hover {
    background-color: #218838;
}
